<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSP_Tutorial_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NameSeenInAnAdminTool_Maybe</display-name>
    <servlet-name>kitten</servlet-name>
    <servlet-class>gui.Video_5_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kitten</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name></display-name>
    <servlet-name>MyLoginPage</servlet-name>
    <jsp-file>/myLoginPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLoginPage</servlet-name>
    <url-pattern>/two</url-pattern>
  </servlet-mapping>
</web-app>